.filters {
    .form-group {
        .input-group {
            display: inline-block;
            width: auto;
            padding-right: 1.5rem;
            .form-control {
                display: inline-block;
                width: auto;
            }
        }
    }
}